@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing : border-box;
    margin : 0;
	scroll-behavior: smooth;
}

.body {
    font-family: 'gilroy','Times New Roman' sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #0B1D26 ;
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  
}
            /* HEADER-LINE */
.header {
    padding: 50px 0 860px 0;
}
.container--wide {
    position: relative;
    max-width: 1790px;
    min-width: 991px;
    margin: auto;
    padding:0 15px;
}
.container {
    max-width: 1230px;
    min-width: 991px;
    margin: auto;
    padding:0 15px;
}

.header-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 186px;
}

.nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;

}
.nav a:hover {
    color: #FBD784;
}
.nav a {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav li + li {
padding-left: 40px;
}



.account a {
	display: flex;
    justify-content: centre;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;

}
.account a svg {
	margin-right: 10px;
}

.account:hover svg path{
    fill:  #FBD784;
}
.account a:hover {
    color: #FBD784;
}

      /* HEADER-BOX */

.header-box p {
    position: relative;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    padding-left: 96px;
    padding-bottom: 32px;
}

.header-box p::before {
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 10px;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.header-box h2 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.header-box__link a {
	display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-right: 16px;
    text-decoration: none;
}

.header-box__link svg {
	margin-left: 10px;
}

.header-box__link a:hover  {
    color: #FBD784;
}

.header-box__link:hover svg path{
    fill:  #FBD784;
}

.navigation {
    position:fixed;
    top: 260px;;
    left: 1620px;;
    border-right:2px solid hsla(0, 0%, 100%, .5); 
    display: flex;
    flex-direction: column;

}

.navigation a {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: #FBD784;
    border-right:2px solid #FFFFFF;
}

        /* MNTN */
.mntn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.mntn:nth-child(even) {
    flex-direction: row-reverse;
}
.mntn-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 20px;
   
}

.subtitle {
    position: relative;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    padding-left: 96px;
    padding-bottom: 27px;
} 

.subtitle::before {
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 10px;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    padding-bottom: 27px;
}

.description {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 27px;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.read-more a {

    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    padding-right: 16px;
    text-decoration: none;
}

.read-more a:hover  {
    padding-right: 21px;
}

.mntn-img {
    width: 42%;
    padding: 0 15px;
}

.mntn-img img {
	height: 720px;
	width: 100%;
	object-fit: cover;
}

.number {
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    top: 33px;
    left: -64px;
}
        /* ABOUT-OF-US */

.about {
    display: flex;
    justify-content: space-between;
}

.about-box {
    width: 365px;
}

.about__logo p {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 33px;
    padding-bottom: 200px;
}

.about__copyright p {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}

.list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    padding-bottom: 24px;
}

.list-title__ul {
    list-style: none;
    padding-left: 0;
}

.list-title__li {
    padding-bottom: 16px;
}

.list-title__a {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.list-title__a:hover {
    color: #FBD784;
}
